body {
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: var(--el-font-size-extra-small);
}

a {
  text-decoration: none;
}

/* скролл внутри таблицы без заголовка */
.scrollTable {
  margin-right: 10px;
}
.pagination {
  padding: 10px !important;
}
.scrollTableRequirement {
  margin: 10px 10px 0 0;
  border: 1px solid var(--el-border-color);
  border-radius: 2px;
  min-height: 100px;
}

.button_bottom {
  margin: 15px 10px 0 0 !important;
  display: flex;
  justify-content: flex-start;
}
.product {
  display: flex;
  height: calc(100vh - 160px);
  margin: 10px 10px 0 0;
  color: #4d4d4d;
}

.productTree {
  min-width: 550px;
  max-width: 550px;
  border: 1px solid var(--el-border-color);
  height: calc(100vh - 185px);
  border-radius: 2px;
  margin-right: 10px;
}

/* панель с кнопками сверху таблицы */
.buttonBar {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.dialog-footer button:first-child {
  margin-right: 10px;
}
.el-table_5_column_74 {
  cursor: pointer;
}

h1 {
  margin-left: 5px;
}

.btnExit {
  margin-left: 23px;
  margin-top: 10px;
}

.dropdown {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.directoryBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 0 10px 0 0;
}

.directoryBar_filter {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 10px;
  /* background-color: #8a8a8a; */
}

.mx-1 {
  margin: 10px;
}
.pagination {
  padding: 15px;
  display: flex;
  justify-content: center;
}

/* название фильтров или элементов формы */
.custom-label {
  display: block;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 500;
}

.el-table__column-filter-trigger {
  padding-left: 10px !important;
}

.loading-cursor {
  cursor: wait; /* Установка курсора в виде элемента загрузки */
}

.el-divider--vertical{
  height: 2em !important;
  color: #000 !important;
}

.cell {
  font-size: 12px;
  color: #5c5b5b;
  padding: 0 8px !important;
}

.el-table .el-table__cell {
  padding: 2px 0 !important;
  height: min-content !important;
}

.el-divider__text.is-left {
  color: #337ecc;
  font-weight: 600;
}

.selectVendorInKuAdd .el-popper {
  min-width: 520px !important;
}
.selectVendorInKuAdd .el-vl__window {
  width: 100% !important;
}
/* .el-select-dropdown__list .el-vl__window{
  width: 100%;
} */

.el-tabs__item {
  font-weight: 600 !important;
  height: 30px !important;
  font-size: 13px !important;
}
.el-tabs {
  --el-tabs-header-height: 35px;
}
.buttonAdd {
  margin-top: 10px;
}
h3{
  font-size: 15px;
}
.el-form-item__label {
  font-size: 12px !important;
}
.cell .el-button {
  padding: 0 5px !important;
  height: auto !important;
}
.el-table .cell {
  line-height: 20px !important
}
