body {
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: var(--el-font-size-extra-small);
}

a {
  text-decoration: none;
}

/* контейнер для всей таблицы */
.container-table {
  margin-right: 300px;
  border: 1px solid var(--el-border-color);
  border-radius: 2px;
  height: 400px;
}

/* скролл внутри таблицы без заголовка */
.scrollTable {
  margin: 10px 10px 0 0;
  border: 1px solid var(--el-border-color);
  border-radius: 2px;
  height: calc(100vh - 160px);
}

/* панель с кнопками сверху таблицы */
.buttonBar {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.dialog-footer button:first-child {
  margin-right: 10px;
}

h1 {
  margin-left: 5px;
}

.btnExit {
  margin-left: 23px;
  margin-top: 10px;
}

.dropdown {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.directoryBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 10px 10px 0 0;
}

.directoryBar_filter{
  display: flex;
  align-items: center;
  height: 40px;
  gap: 20px;
}

.scrollTableFiltres {
  margin: 10px 10px 0 0;
  border: 1px solid var(--el-border-color);
  border-radius: 2px;
  height: 300px;
}

.mx-1{
  margin: 10px;

}
.pagination{
  padding: 15px;
  display: flex;
  justify-content: center;
}
 
/* название фильтров или элементов формы */
.custom-label { 
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

.el-table__column-filter-trigger {
  padding-left: 10px !important;
}
/* .el-table {
  border: 2px solid #303133 !important;
}


.el-table thead {
  background-color: #F0F2F5 !important;
  color: #b82c2c !important;  
}


.el-table th {
  text-align: center !important;
} */