body {
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: var(--el-font-size-extra-small);
}

a {
  text-decoration: none;
}

/* контейнер для всей таблицы */
.container-table {
  margin-right: 300px;
  border: 1px solid var(--el-border-color);
  border-radius: 2px;
  height: 400px;
}


/* скролл внутри таблицы без заголовка */
.scrollTable {
  margin: 10px 10px 0 0;
  border: 1px solid var(--el-border-color);
  border-radius: 2px;
}

/* .vel-dialog__body{
overflow: hidden;
} */

/* панель с кнопками сверху таблицы */
.buttonBar {
  display: flex;
  justify-content:space-between;
  margin-right: 10px;
}
