body {
  margin: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: var(--el-font-size-extra-small);
}

a {
  text-decoration: none;
}

/* контейнер для всей таблицы */
.container-table {
  margin-right: 300px;
  border: 1px solid var(--el-border-color);
  border-radius: 2px;
  height: 400px;
}

/* панель с инпутами для ввода */
.toolbarAdd {
  display: inline-flex;
  margin-bottom: 10px;
  gap: 20px;
}

/* скролл внутри таблицы без заголовка */
.scrollTable {
  margin-right: 10px;
  border: 1px solid var(--el-border-color);
  border-radius: 2px;
}

/* панель с кнопками внизу таблицы */
.toolbarButton {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 10px;
}
